body {
  margin: 0;
}
h1 {
  border-bottom: 1px solid;
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px;
}
a {
  color: rgb(17, 44, 116);
  text-decoration: none;
}
#grid ol {
  border-right: 1px solid;
  width: 100px;
  margin: 0;
  padding: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  #grid ol {
    border-right: none;
  }
}
